
/* FOOTER STYLE */
footer{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 5.8rem;
}

@media screen and (max-width:992px){
      footer{
            padding-bottom: 2.4rem;
      }
      footer img{
            width: 7%;
      }
    
}
