
/* ===== Navbar STYLE ===== */
nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 5.5rem;
      margin-bottom: 10.1rem;
}
.menu {
      display: flex;
      align-items: center;
      gap: 4rem;
}
.menu>li>a {
      font-weight: 500;
      font-size: 2rem;
      line-height: 3rem;
      color: var(--main-and-btn-color);
}
.talk>button {
      font-size: 2.4rem;
      line-height: 3rem;
      border: 2px solid --main-and-btn-color;
      padding: 1.7rem 5.7rem;
      color: var(--main-and-btn-color);
      background-color: inherit;
      border-radius: 0.5rem;
      cursor: pointer;
}
input[type=checkbox]{
      display: none;
}

label{
      display: none;
}
.modal{
      display:none;
}

@media screen and (max-width:768px){

      input[type=checkbox]{
            display: block;
      }
      .menu{
            display: none;
      }
      .talk{
            display: none;
      }
      label{
            display: block;
      }

      .modal{
            display: block;
            position: absolute;
            top: -100%;
            left: -100%;
            background-color: rgba(0, 0, 0, 0.5);
            width: 100%;
            height: 100vh;
            z-index: 10;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all .5s linear;
      }
      .modal_content{
            font-size: 5rem;
            background-color: mediumseagreen;
            padding:4rem ;
            border-radius: 2rem;

      }
      .modal_content >li a{
            color: #fff;
      }
      input[type=checkbox]{
            display: none;
        }
      input[type=checkbox]:checked + .modal{
            left: 0;
            top: 0;
      }
      input[type=checkbox]:checked ~ label>img:last-child{
            display: block;
      }
      input[type=checkbox]:checked ~ label>img:first-child{
            visibility: hidden;
      }
      label{
            position: relative;
      }
      label> img:last-child{
            width: 2rem;
            height: 2rem;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 11;
            display: none;
      }


}